@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
    --primary-color: #007BFF;
    --secondary-color: #6C757D;
    --background-color: #F8F9FA;
    --text-color: #f8f9fa;
}

h1 {
    color: var(--text-color);
    font-family: "Bruno Ace SC", sans-serif;
    text-align: center;
}

nav {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-top: 20px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;

    a {
        display: block;
        color: var(--text-color);
        text-decoration: none;
        font-size: 1.2em;
        padding: 1rem;
    }

    a:hover {
        background-color: var(--secondary-color);
        opacity: 0.9;
        cursor: pointer;
        border-radius: 5px;
    }

}

.logo {
    display: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 150px;
}